### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.DS_Store

### IntelliJ IDEA ###
.idea
out
*.iws
*.iml
*.ipr

### NetBeans ###

node_modules/
composer.json
composer.lock
package.json
package-lock.json

